{
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css",
        "*.scss"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]

}
